---
import Arrow from "../../../assets/arrow.svg";
import { cn } from "../../../services/common/cn.ts";
export interface Props {
  link: string;
  text: string;
  className: string;
}

const { link, text, className } = Astro.props as Props;
---

<a className={cn("flex items-center gap-3 text-xl",className)} href={link}>
  {text}
  <Arrow />
</a>


