---
import Arrow from "../../../assets/arrow.svg";
import { cn } from "../../../services/common/cn.ts";

export interface Props {
  link: string;
  text: string;
  className?: string;
  classNameIcon?: string;
}

const { link, text, className, classNameIcon } = Astro.props as Props;
---

<a class={cn("flex items-center gap-3 text-xl",className)} href={link}>
  {text}
  <Arrow class={classNameIcon}/>
</a>


