---
import Codebars from "../../assets/codebars.svg";
---
<section class="grid place-items-center place-content-center h-[90dvh] kd-section-x-p">

		<h1 class="text-3xl sm:text-4xl mb-2 text-center">Design studio proudly out-of-the-ordinary</h1>
		<Codebars  />
</section>
