
<section class="kd-section-x-p pb-20 bg-primary-black text-white pt-20" >
      <div class="container mx-auto">

      <h2 class="text-4xl mb-10">What we do</h2>
    <p class="text-5xl sm:text-7xl text-pretty text-center font-medium leading-15 sm:leading-23">
      Art direction / Brands identity / Naming 
      systems / Copywriting / Illustration / 
      Storytelling / Graphic design / Digital 
      presence / Packaging / Infographics and 
      editorial / Animation - motion graphics / Icon 
      design / Tipography and lettering / Web design 
      / App development / Photography / Post 
      production and retouch
    </p>

    <div class="flex-col sm:flex-row flex justify-center items-center gap-x-3 text-xl mt-20">
      <p>What are you waiting for?</p>
      <a href="mailto:info@kiddoestudio.com">info@kiddoestudio.com</a>
    </div>
      </div>
</section>
