@import "tailwindcss";

@theme {
  --font-display:
    var(--font-cabinet), "ui-sans-serif", "system-ui", "sans-serif";
  --font-body: var(--font-cabinet), "ui-sans-serif", "system-ui", "sans-serif";

  --color-primary-gray: #ecebe7;
  --color-primary-black: #0a0a0a;
  --color-primary-aqua: #80eae7;
  --color-primary-pink: #df9ef4;
  --color-primary-violet: #7c7af4;
  --color-primary-yellow: #f4ff69;
}

.kd-section-x-p {
  @apply px-8;
}

.kd-section-y-p {
  @apply py-6;
}

.kd-section-p {
  @apply px-8 py-6;
}
