@import "tailwindcss";

@theme {
  --font-display:
    var(--font-cabinet), "ui-sans-serif", "system-ui", "sans-serif";
  --font-body: var(--font-cabinet), "ui-sans-serif", "system-ui", "sans-serif";

  --color-primary-gray: #ecebe7;
  --color-primary-black: #0a0a0a;
  --color-primary-aqua: #80eae7;
  --color-primary-pink: #df9ef4;
  --color-primary-violet: #7c7af4;
  --color-primary-yellow: #f4ff69;
}

.kd-section-x-p {
  @apply px-8;
}

.kd-section-y-p {
  @apply py-6;
}

.kd-section-p {
  @apply px-8 py-6;
}

/* Custom styles for ProjectsShowCase planes */
.plane:nth-of-type(1) {
  filter: brightness(0.7);
}
.plane:nth-of-type(1) img:nth-of-type(1) {
  left: 90%;
  top: 70%;
}
.plane:nth-of-type(1) img:nth-of-type(2) {
  left: 5%;
  top: 65%;
}
.plane:nth-of-type(1) img:nth-of-type(3) {
  left: 35%;
  top: 0%;
}

.plane:nth-of-type(2) {
  filter: brightness(0.6);
}
.plane:nth-of-type(2) img:nth-of-type(1) {
  left: 5%;
  top: 10%;
}
.plane:nth-of-type(2) img:nth-of-type(2) {
  left: 80%;
  top: 5%;
}
.plane:nth-of-type(2) img:nth-of-type(3) {
  left: 60%;
  top: 60%;
}

.plane:nth-of-type(3) {
  filter: brightness(0.5);
}
.plane:nth-of-type(3) img:nth-of-type(1) {
  left: 65%;
  top: 2.5%;
}
.plane:nth-of-type(3) img:nth-of-type(2) {
  left: 40%;
  top: 75%;
}

.plane img {
  position: absolute;
  transition: filter 0.3s;
  background-color: #fff;
  height: 300px;
}
