---

import Email from "../../assets/email.svg";
---
<footer class="kd-section-x-p bg-primary-black">
  

  <div class="bg-primary-gray rounded-2xl container mx-auto">

    <div>
      <div class="flex items-center justify-center ">  
         <a href="mailto:info@kiddoestudio.com">
             <h3 class="text-5xl font-medium">Get in touch</h3>
             <p class="text-xl">info@kiddoestudio.com</p>
         </a>
         <Email/>
      </div>


      <div>
        <h4>Better Call Kiddo™</h4>
        <a href="tel:+57 300 559 3515">+57 300 559 3515</a> 
      </div>


    </div>








    </div>
</footer>
