---

import Email from "../../assets/email.svg";
import LinkButton from "../common/button/LinkButton.astro";

import { socialsFooter } from "../../domain/entities/socials/data";
import { menuItems } from "../../domain/entities/nav/data";
---
<footer class="kd-section-x-p bg-primary-black pb-16">
  

  <div class="flex justify-between bg-primary-gray rounded-2xl container mx-auto py-16 px-10 flex-col-reverse lg:flex-row gap-8">

    <div class="flex flex-col justify-between gap-4 mt-10 lg:mt-0">

      <div class="flex items-center gap-4">  
         <a href="mailto:info@kiddoestudio.com">
             <h3 class="text-3xl lg:text-5xl font-medium">Get in touch</h3>
             <p class="lg:text-xl">info@kiddoestudio.com</p>
         </a>
         <Email class="w-8 h-8 lg:w-10 lg:h-10"/>
      </div>


      <div>
        <h4>Better Call Kiddo™</h4>
        <a href="tel:+57 300 559 3515">+57 300 559 3515</a> 
      </div>


      <div class="flex flex-wrap items-center gap-4 lg:gap-6">
        {socialsFooter.map(({ name, url, Icon }) => (
        <a href={url} aria-label={name} target="_blank" rel="noopener noreferrer" class="hover:opacity-80">
            <Icon class="w-8 h-8" />
          </a>
        ))}
      </div>


      <div class="lg:mt-10">
        <p>
            © 2018 Kiddo™ Estudio 
            <br/>
            Cali, Colombia
        </p>
      </div>

    </div>


    <nav>
      <ul class="flex flex-col gap-6 justify-between">
                {menuItems.map(({ label, path }) => (
                  <li>
                    <LinkButton link={path} text={label} className="text-3xl lg:text-5xl" classNameIcon="lg:w-8 lg:h-8"/>
                  </li>
                ))}
        </ul>
    </nav>








    </div>
</footer>
