---
import Logo from "../../assets/logo.svg";
import LinkButton from "../common/button/LinkButton.astro";
---

<header class="kd-section-p flex justify-between items-center">
  <Logo class="w-32 h-16"/>
  <div>
  </div>
  <LinkButton link="/contact" text="Get in touch"/>
</header>
