---
import { cn } from "../../../services/common/cn";
import { GetAllProjectsUseCase } from "../../../usecases/project/GetAllProjectsUseCase";

import ResponsiveImage from "../image/ResponsiveImage.astro";
import OverlayActionButton from "../button/OverlayActionButton.astro";

interface Props {
  isDarkMode?: boolean;
}

const projects = await GetAllProjectsUseCase();

const { isDarkMode } = Astro.props as Props;
---

<div class={cn("py-16 ", isDarkMode && "bg-primary-black")}>
   <div
      class={cn(
         "flex-col sm:flex-row flex justify-center items-center gap-x-3 text-xl mb-4",
         isDarkMode && "text-white"
      )}
   >
      <p>What are you waiting for?</p>
      <a href="mailto:info@kiddoestudio.com" aria-label="Mail to info@kiddoestudio.com">info@kiddoestudio.com</a>
   </div>
  
   {projects && projects.length > 0 && 
    <div class="flex items-center gap-3 relative justify-center">
      <OverlayActionButton link="/projects" text="Project Showcase" className="absolute z-30" />
      {
         projects.map(project => (
         <a
          class="cursor-pointer"
          href={`/projects/${project.slug}`}
          aria-label={project.title}
           >
            <ResponsiveImage
               file={project.cover}
               alt={project.title}
               className="flex-1 w-full object-cover rounded-4xl shadow-lg"
            />
          </a>
         ))
      }
   </div>
    }

</div>
