---
import { cn } from "../../../services/common/cn";
import { GetAllProjectsUseCase } from "../../../usecases/project/GetAllProjectsUseCase";

import ResponsiveImage from "../image/ResponsiveImage.astro";
import OverlayActionButton from "../button/OverlayActionButton.astro";

const projects = await GetAllProjectsUseCase();
const projectsToShow = projects.slice(0, 4);

interface Props {
   isDarkMode?: boolean;
}

const { isDarkMode } = Astro.props as Props;
---

<div class={cn("py-16 ", isDarkMode && "bg-primary-black")}>
   <div
      class={cn(
         "flex-col sm:flex-row flex justify-center items-center gap-x-3 text-xl mb-4",
         isDarkMode && "text-white"
      )}
   >
      <p>What are you waiting for?</p>
   </div>

   <div class="flex items-center gap-3 relative justify-center">
      <OverlayActionButton link="/projects" text="Project Showcase" className="absolute  z-30" />
      {
         projectsToShow.map(project => (
            <ResponsiveImage
               file={project.cover}
               alt={project.title}
               className="flex-1 w-full object-cover rounded-lg shadow-lg"
            />
         ))
      }
   </div>
</div>
