---
import Layout from "../components/layout/Layout.astro";
import Hero from "../views/homepage/Hero.astro";
import About from "../views/homepage/About.astro";
import WhatWeDo from "../views/homepage/WhatWeDo.astro";
import Services from "../views/homepage/Services.astro";
---

<Layout>
	<main >
    <Hero/>
    <About/>
    <WhatWeDo/>
    <Services/>
	</main>
</Layout>
